h1,h2,h3{
    text-align: center;
}
span, mat-progress-bar{
    margin-left: 40px;
}
mat-progress-bar{
    height: 20px;
    border-radius: 3px;
    margin-bottom: 15px;
}
span {
    font-size: 18px;
}