<h1>Compétences</h1>
<h3>Frameworks</h3>
<span>Angular (75%)</span>
<mat-progress-bar mode="determinate" value="75" color="accent" ></mat-progress-bar>

<span>Express (50%)</span>
<mat-progress-bar mode="determinate" value="50" color="accent"></mat-progress-bar>
<h3>Langages de programmation</h3>
<span>HTML 5 (95%)</span>
<mat-progress-bar mode="determinate" value="95" color="accent"></mat-progress-bar>
<span>CSS 3 (80%)</span>
<mat-progress-bar mode="determinate" value="80" color="accent"></mat-progress-bar>
<span>Javascript (75%)</span>
<mat-progress-bar mode="determinate" value="75" color="accent"></mat-progress-bar>
<span>Typescript (85%)</span>
<mat-progress-bar mode="determinate" value="85" color="accent"></mat-progress-bar>
<span>Assembleur (40%)</span>
<mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
<span>Java (60%)</span>
<mat-progress-bar mode="determinate" value="60" color="accent"></mat-progress-bar>
<span>C (40%)</span>
<mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
<span>PHP (70%)</span>
<mat-progress-bar mode="determinate" value="70" color="accent"></mat-progress-bar>
<h3>Microsoft office</h3>
<span>Word (100%)</span>
<mat-progress-bar mode="determinate" value="100" color="accent"></mat-progress-bar>
<span>PowerPoint (100%)</span>
<mat-progress-bar mode="determinate" value="100" color="accent"></mat-progress-bar>
<span>Excel (80%)</span>
<mat-progress-bar mode="determinate" value="80" color="accent"></mat-progress-bar>