<h1>Mes projets :</h1>
<div class="container">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>TicTacToe</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/TicTacToe.PNG" alt="Photo TicTacToe">
            <mat-card-content>
                <p>
                    Jeux de morpions réalisé avec le Framework Angular.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button><a href="https://github.com/Theo-LANTZ/TicTacToe">Visualiser</a></button>
                <button mat-button><a href="https://theo-lantz.github.io/TicTacToe/">Jouer</a></button>
            </mat-card-actions>
        </mat-card>
</div>