<h1>Mes compétences</h1>

<i class="fab fa-angular"> Angular</i>
<mat-progress-bar mode="determinate" value="95" color="warn"></mat-progress-bar>
<i class="fab fa-html5"> HTML5</i>
<mat-progress-bar mode="determinate" value="100" color="warn"></mat-progress-bar>
<i class="fab fa-css3"> CSS3</i>
<mat-progress-bar mode="determinate" value="70" color="warn"></mat-progress-bar>
<i class="fab fa-js"> Javascript</i>
<mat-progress-bar mode="determinate" value="70" color="warn"></mat-progress-bar>
<i class="fab fa-php"> PHP</i>
<mat-progress-bar mode="determinate" value="65" color="warn"></mat-progress-bar>
<i class="fab fa-java"> Java</i>
<mat-progress-bar mode="determinate" value="50" color="warn"></mat-progress-bar>

<h2>Mes projets</h2>

    <img src="../../assets/TicTacToe.PNG">


<h2>Contactez-moi !</h2>