
<h1>Mes compétences</h1>

<div class="skills">
<i class="fab fa-angular"> Angular (95%)</i>
<mat-progress-bar mode="determinate" value="95" color="warn"></mat-progress-bar>
<i class="fab fa-html5"> HTML5 (100%)</i>
<mat-progress-bar mode="determinate" value="100" color="warn"></mat-progress-bar>
<i class="fab fa-css3"> CSS3 (70%)</i>
<mat-progress-bar mode="determinate" value="70" color="warn"></mat-progress-bar>
<i class="fab fa-js"> Javascript (70%)</i>
<mat-progress-bar mode="determinate" value="70" color="warn"></mat-progress-bar>
<i class="fab fa-php"> PHP (65%)</i>
<mat-progress-bar mode="determinate" value="65" color="warn"></mat-progress-bar>
<i class="fab fa-java"> Java (50%)</i>
<mat-progress-bar mode="determinate" value="50" color="warn"></mat-progress-bar>
</div>

<h1>Mes projets</h1>

    <img src="assets/TicTacToe.PNG">


<h1>Contactez-moi !</h1>