nav{
    position: relative;
    width: auto;
    height: 60px;
    background:#34495e;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
  }

nav a{
    font-size: 15px;
    text-transform: uppercase;
    color:black;
    text-decoration:none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline;
    text-align: center;
    padding-right: 20px;
    letter-spacing: 0.5px;
    padding-left: 15px;
    color: white;
    transition: 0.3s;
  }
nav a:hover{
text-decoration: none;
letter-spacing: 4px;
  }

a:after{
  content: "";
  position: absolute;
  background-color: #ff3c78;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
a:hover:after{
  width: 100%;
}
.right{
  position: absolute;
  right:0;
  top: 0;
}

nav .title{
  font-size: 30px;
}

nav .dropdown{
  display: none;
  color: white;
}

@media (max-width: 1070px) {
  nav .link{
    display: none;
  }
nav .dropdown{
  display: inline-block;
 position: absolute;
  right: 0;
}
nav .dropdown a{
  font-size: 30px;
  cursor: pointer;
}
nav .dropdown a:after{
  width: 0;
}
.dropdown-content{
  position: absolute;
  display: none;
  right: 10%;
  background-color: #505050;
  border-radius: 8%;
  border: 1px solid white;
  z-index: 1;
  transition: 1s;
}
.dropdown-content::after{
  display:block;
  
}
.dropdown-content a{
  text-align: center;
}
}